.title {
  font-family: 'Lobster', 'Times New Roman', Times, cursive;
  padding: 8px;
  text-align: center;
  background-color: rgb(8, 108, 75);
  color: #00f893;
}

.lists {
  display: flex;
}

.highlight-input {
  color: #00f893;
  background-color: #096c4b;
  border: 0;
  margin: 8px;
  padding: 16px;
  font-size: 16px;
  font-family: Lobster;
  border-radius: 4px;

  &::placeholder {
    color: #ffffff;
  }
}
